div.container {
    max-width: 576px;
    margin-top: 30px;
}

#onePoint {
    background-color: #2274A5;
    border-color: #2274A5;
}

#twoPoint {
    background-color: #43AA8B;
    border-color: #43AA8B;
}

#reset {
    background-color: #B15E6C;
    border-color: #B15E6C;
}

#firstContainer {
    border: 2px solid lightgrey;
}

#secondContainer {
    border: 2px solid lightgrey;
}

h3 {
    font-size: 26px;
}